<div id="right_column">
    <div id="main">

        <div class="post_section">

            <h2><a href="blog_post.html">First post caption</a></h2>
            January 22, 2019 | <strong>Author:</strong> Denis Puhov | <strong>Category:</strong> <a href="#">Freebies</a>
            <!--<img src="images/image_01.jpg" alt="image 1" />-->
            <p>This is first sample post on my personally <a href="#" target="_parent">blog.</a>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium blanditiis eius facilis iste laboriosam, laudantium molestias neque, numquam possimus qui quia reiciendis. Aliquam cum dolore dolores et perspiciatis, provident vitae.
                <a href="#">Continue reading...</a>

        </div>
    </div>

    <div class="cleaner"></div>
</div>
<!-- end of main -->